*.o
*~
.depend
environment.cmi
environment.cmo
environment.cmx
eval.cmi
eval.cmo
eval.cmx
lexer.cmi
lexer.cmo
lexer.cmx
lexer.ml
main.cmi
main.cmo
minimal
parser.cmi
parser.cmo
parser.cmx
parser.ml
parser.mli
parser.output
syntax.cmi
syntax.cmo
syntax.cmx










