*.zip
*.o
*~
.depend
environment.cmi
environment.cmo
environment.cmx
eval.cmi
eval.cmo
eval.cmx
lexer.cmi
lexer.cmo
lexer.cmx
lexer.ml
main.cmi
main.cmo
miniml
parser.cmi
parser.cmo
parser.cmx
parser.ml
parser.mli
parser.output
syntax.cmi
syntax.cmo
syntax.cmx
typing.cmi
typing.cmo
typing.cmx
mySet.cmi
mySet.cmo
mySet.cmx
